.header-info{
    height: 10vh;
    background-color: rgb(68, 70, 70);
}
.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    text-shadow: 3px 3px black;
}
.row-height{
    height: 90vh;
}
.btn{
    margin-bottom: 75px;
    font-weight: bold;
    width: 120px;
    color: white;
}
.nav1{
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
.bi{
    font-size: 20px;
    margin-right: 10px;
}
.icon-size{
    font-size: 15px;
    color: grey;
    cursor: pointer;
}
.section1{
    background-color: #544e3d;
}
.section2{
    background-color: #ebe7dd;
}
.section3{
    background-color: #faf9f5;
}
a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 10px;
    font-weight: bold;
}
a:link {
    text-decoration: none;
}
.mail-box{
    height: 80px;
    color: grey;
    font-size: 12px;
    cursor: pointer;
}
.sender-info{
    font-size: 12px;
    color: grey;    
}
.mail-box:hover{
    border: 1px solid grey;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
.act-email-box{
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 10px 10px 20px grey;
    border: 1px solid grey;
    border-radius: 5px;
}
.btn-outline-warning{
    color: grey;
}
.attachment-pointer{
    color: grey;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .name {
        
        font-size: 30px;
    }
  }

  .textjs{
    text-align: justify;
  }